@model ListViewModel

@{
    ViewBag.Title = "Movie List";
}

<div class="row">
    @foreach (var item in Model.Movies) {
        <div class="col-lg-4 col-md-6 col-12">
            <div class="card mb-3">
                <a href="@Html.DisplayFor(modelItem => item.Url)" target="_blank">
                    <img alt="..." src="@Html.DisplayFor(modelItem => item.Image)" class="card-img-top"/>
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Title)
                    </h5>
                    <p class="card-text">
                        @foreach (var tag in item.Tags) {
                            <span class="badge badge-secondary">@Html.DisplayFor(modelTag => tag.Content)</span>
                        }
                    </p>
                    <hr/>
                    <p class="card-text">
                        <small class="text-muted">Added by @Html.DisplayFor(modelItem => item.UserName)</small>
                    </p>
                </div>
                <div class="row no-gutters">
                    <div class="col">
                        <a href="#" class="btn btn-block btn-light rounded-0">Upvote <span class="badge badge-secondary">3</span></a>
                    </div>
                    <div class="col">
                        <a href="#" class="btn btn-block btn-light rounded-0">Downvote <span class="badge badge-secondary">5</span></a>
                    </div>
                </div>
            </div>
        </div>
    }
    
    <div class="col-lg-4 col-md-6 col-12 pb-3">
        <div class="card h-100">
            <form asp-controller="List" asp-action="Add">
                <div class="card-body">
                    <p class="text-success text-center">Add new</p>
                    <hr/>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-link"></i>
                                </span>
                            </div>
                            <input asp-for="SourceUrl" class="form-control" placeholder="MAL link">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-tag"></i>
                                </span>
                            </div>
                            <input asp-for="TagString" class="form-control" placeholder="Comma separated tags">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <input asp-for="UserName" class="form-control" placeholder="Your name">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-light rounded">Add</button>
            </form>
        </div>
    </div>
</div>