@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model MovieNight.Models.List.ListViewModel

@{
    ViewBag.Title = "Watched List";
    ViewBag.JumbotronTitle = "Watched";
    ViewBag.JumbotronSubTitle = "Movies from previous weekends";
}

<div class="row">
    @foreach (var item in Model.WatchedSubmissions) {
        <div class="col-lg-4 col-md-6 col-12">
            <div class="card mb-3">
                <a href="@item.Url" target="_blank">
                    <img alt="..." src="@item.ImageUrl" class="card-img-top"/>
                </a>
                <div class="card-body">
                    <a href="@item.Url" target="_blank">
                        <h5 class="card-title">@item.Title</h5>
                    </a>
                    <hr/>
                    <small class="text-muted">Suggested by @item.User.Username</small>
                </div>
            </div>
        </div>
    }
</div>