@model MovieNight.Models.Admin.AdminUsersViewModel
@{
    ViewBag.Title = "User Management";
}

<div class="jumbotron">
    <h1 class="display-4">Admin panel - User Management</h1>
</div>

<div class="row">
    <div class="col">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Username</th>
                <th scope="col">Admin</th>
                <th scope="col" colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model.Users) {
                <tr>
                    <th scope="row">@user.Id</th>
                    <td>@user.Username</td>
                    <td>@user.IsAdmin</td>
                    <td>
                        <form asp-antiforgery="true" asp-action="Users" method="post" class="mr-1">
                            <input type="hidden" asp-for="Id" value="@user.Id"/>
                            <input type="hidden" asp-for="Action" value="delete"/>
                            @if (user.IsAdmin) {
                                <button disabled type="submit" class="btn btn-sm btn-danger">Delete</button>
                            } else {
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            }
                           
                        </form>
                    </td>
                    <td>
                        <form asp-antiforgery="true" asp-action="Users" method="post" class="mr-1">
                            <input type="hidden" asp-for="Id" value="@user.Id"/>
                            <input type="hidden" asp-for="Action" value="reset"/>
                            @if (user.Secret == null) {
                                <button disabled type="submit" class="btn btn-sm btn-danger">Reset password</button>
                            } else {
                                <button type="submit" class="btn btn-sm btn-danger">Reset password</button>
                            }
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>