@model MovieNight.Models.Admin.AdminUsersViewModel
@{
    ViewBag.Title = "User Management";
    ViewBag.JumbotronTitle = "Admin panel";
    ViewBag.JumbotronSubTitle = "User Management";
}

<div class="row">
    <div class="col">
        <table class="table table-responsive-md table-bordered table-sm">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Username</th>
                <th scope="col">Admin</th>
                <th scope="col" colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model.Users) {
                <tr>
                    <th scope="row">@user.Id</th>
                    <td>@user.Username</td>
                    <td>@user.IsAdmin</td>
                    <td>
                        <form asp-antiforgery="true" asp-action="Users" method="post" class="mr-1">
                            <input type="hidden" asp-for="Id" value="@user.Id"/>
                            <input type="hidden" asp-for="Action" value="delete"/>
                            @if (user.IsAdmin) {
                                <button disabled type="submit" class="btn btn-sm btn-danger">Delete</button>
                            } else {
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            }
                           
                        </form>
                    </td>
                    <td>
                        <form asp-antiforgery="true" asp-action="Users" method="post" class="mr-1">
                            <input type="hidden" asp-for="Id" value="@user.Id"/>
                            <input type="hidden" asp-for="Action" value="reset"/>
                            @if (user.Secret == null || user.IsAdmin) {
                                <button disabled type="submit" class="btn btn-sm btn-danger">Reset password</button>
                            } else {
                                <button type="submit" class="btn btn-sm btn-danger">Reset password</button>
                            }
                        </form>
                    </td>
                </tr>
            }
            <tr>
                <form asp-antiforgery="true" asp-action="Users" method="post">
                    <input type="hidden" asp-for="Action" value="create"/>
                    
                    <th scope="row">#</th>
                    <td>
                        <input asp-for="Username" placeholder="Username" class="form-control form-control-sm"/>
                    </td>
                    <td>@false</td>
                    <td colspan="2">
                        <button type="submit" class="btn btn-sm btn-success">Create new</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>